# Terraform and Terragrunt
**/.terraform/*
**/.terragrunt-cache/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Environment variables and secrets
.env
.env.*
!.env.example
*.pem
*.key

# Operating systems
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.code-workspace